<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>diksha</display-name>

	<!-- Http Flex Session attribute and binding listener support -->
	<listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
	</listener>

	<listener>
		<listener-class>com.dikshatech.init.ContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.dikshatech.portal.session.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- MessageBroker Servlet -->
	<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>
	<!-- Standard Action Servlet Configuration -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>FileHandler</display-name>
		<servlet-name>FileHandler</servlet-name>
		<servlet-class>com.dikshatech.portal.dispatcher.FileHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileHandler</servlet-name>
		<url-pattern>/FileHandler</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>Validate</display-name>
		<servlet-name>Validate</servlet-name>
		<servlet-class>com.dikshatech.portal.dispatcher.Validate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Validate</servlet-name>
		<url-pattern>/validate</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	
	<!-- Java Melody 1.51 -->
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>monitoring</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
    	<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
	
	<!-- The Usual Welcome File List -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>