<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">



<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">



	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/server.log" />
		<param name="Append" value="true" />

		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
		</layout>
	</appender>


	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss SSS} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<appender name="PORTAL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/portal.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n" />
		</layout>
	</appender>


	<category name="org.apache">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</category>

	<category name="com.dikshatech">
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="PORTAL" />
	</category>

	<root>
		<!--
		Set the root logger priority via a system property. Note this is
		parsed by log4j, so the full JBoss system property format is not
		supported; e.g. setting a default via
		${jboss.server.log.threshold:WARN} will not work.
	-->
		<!--<appender-ref ref="CONSOLE" />-->
		<priority value ="debug" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>	