<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" >
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" >
            	<tr>
                	<td align="center" valign="top">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" style="border:0px solid #DDDDDD; background-color:#FFFFFF;">
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#FFFFFF; border-bottom:0;">
                                        <tr>
                                            <td style="color:#202020; font-family:Arial; font-size:12px; font-weight:normal; line-height:100%; padding-left:20px; text-align:left; vertical-align:middle;">
                                            	Dear [tsheetApprover],
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                            <td valign="top" style="display:inline; height:auto; background-color:#FFFFFF; color:#505050; font-family: Arial; font-size:12px; line-height:150%; text-align:left;">
                                
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div style="display:inline; height:auto; background-color:#FFFFFF; color:#505050; font-family: Arial; font-size:12px; line-height:150%; text-align:left;">
                                                               Timesheet submitted by [candidateName] for time period [timePeriod] is Onhold.
                                                            </div>
														</td>
                                                    </tr>
                                                </table> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>