<html>
    <head>
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" >
            	<tr>
                	<td align="center" valign="top">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" style="border:0px solid #DDDDDD; background-color:#FFFFFF;">
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#FFFFFF; border-bottom:0;">
                                        <tr>
                                            <td >&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="color:#202020; font-family:Arial; font-size:12px; font-weight:normal; line-height:100%; padding-left:20px; text-align:left; vertical-align:middle;">                     
                                            	Dear [EmpFname],
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                            <td valign="top" style="display:inline; height:auto; background-color:#FFFFFF; color:#505050; font-family: Arial; font-size:12px; line-height:150%; text-align:left;">
                                
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div style="display:inline; height:auto; background-color:#FFFFFF; color:#505050; font-family: Arial; font-size:12px; line-height:150%; text-align:left;">										
                                                            	Your Request for IT Support is on process.<br /><br />
																<strong><u>Summary</u></strong>
                                                                <br />
                                                                  Request ID : [reqId]<br>
                                                                  Category   : [type]<br>
                                                            </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                                
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                        	
                        </table>
                       
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>