<html>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" >
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" >
            	<tr>
                	<td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                        	<tr>
                            	<td valign="top">
                                	<div style="display:inline; height:auto; background-color:#FFFFFF; color:#505050; font-family: Arial; font-size:12px; line-height:150%; text-align:left;">
                                    	Hi,<br />										
                                      	This is to inform you that new resume <strong> [candidateName]</strong> has been created by <b> [employeeName] </b>, on [onDate] . 
										The details of which are given below .<br /><br />
                                          
									</div>
								</td>
							</tr>
						</table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>