<html>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" >
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" >
            	<tr>
                	<td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                        	<tr>
                            	<td valign="top">
                                	<div style="display:inline; height:auto; background-color:#FFFFFF; color:#505050; font-family: Arial; font-size:12px; line-height:150%; text-align:left;">
                                    	Hi,<br />										
                                      	This is to inform you that <strong>[EmpFname]</strong> has been rolled on to a project in <b>[clientName]</b>, the details of which are given below for your kind perusal. <br /><br />
                                          <b><u>Reporting Details</u></b><br/>
                                          Client Name: [clientName] <br />
                                          Location   : [clientLocation]<br />
                                          Address    : [clientAddress]<br /><br />
                                          
                                          <strong>Reporting Date:</strong> [reportingDate]&nbsp; and <strong>Time:</strong> [reportingTm]<br/>
                                          <br/>
                                          <b><u>Project Details</u></b><br />
                                          Project ID  : [projectId]<br />
                                          Project Name: [projectName]<br />
                                    <!--  Charge Code : [chargecode]<br /> -->
                                          Charge Code : [chargeCodeTitle]<br /><br />
                                                 
                                          <b><u>Employee Details</u></b><br />
                                          Employee ID  : [empId]<br />
                                          Employee Name: [EmpFname]&nbsp;&nbsp;&nbsp;[empLName]<br />
                                          Designation  : [empDesignation]<br /> 
                                          Division     : [empDivision]<br />
									</div>
								</td>
							</tr>
						</table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>